*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;

}
/* paleta de cores */
:root{
  --primary-color: #F5CF06;
  --secondary-color: #8E4106; /*background: 8E4106; */
}

body{
  background: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 90vw;
  margin: auto;
}

.introducao{
  
  /*flex-grow: 3; esticar */
  margin-top: 70px;
}

.infor{
  background: pink;
  /*flex-grow: 3;*/
  margin: 24px;
}
.navbar a{
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  color: var(--secondary-color);
}
.main{
    flex-grow: 1;
  }

.title{
  position: relative;
  grid-column: 1/-1;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}
.title_text{
  font-size: 20vw;
  color: #fff;

}

.title_sub{
  position: absolute;
  top: -25%;
  font-size: 22vw;
  color: #fff5;
  z-index: -1;
}
.description{
  background: forestgreen;
  grid-column: 1/7;
}
.action{
  background: salmon;
  grid-column: 7/-1;
}

